<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>KEY_LINK</key>
		<string>https://dl.dropboxusercontent.com/s/pzd2ve3hwom532v/KimChiChap1.zip?dl=1&amp;token_hash=AAHYNqRLy7vniLOJkvE0uGsDcOqwYJy_VHR6OgUwY2DXWg</string>
		<key>KEY_NAME</key>
		<string>Tập 1 : Kim Chi Củ Cải</string>
	</dict>
	<dict>
		<key>KEY_LINK</key>
		<string>https://dl.dropboxusercontent.com/s/pzd2ve3hwom532v/KimChiChap1.zip?dl=1&amp;token_hash=AAHYNqRLy7vniLOJkvE0uGsDcOqwYJy_VHR6OgUwY2DXWg</string>
		<key>KEY_NAME</key>
		<string>Tập 1 : Kim Chi Củ Cải</string>
	</dict>
	<dict>
		<key>KEY_LINK</key>
		<string>https://dl.dropboxusercontent.com/s/pzd2ve3hwom532v/KimChiChap1.zip?dl=1&amp;token_hash=AAHYNqRLy7vniLOJkvE0uGsDcOqwYJy_VHR6OgUwY2DXWg</string>
		<key>KEY_NAME</key>
		<string>Tập 1 : Kim Chi Củ Cải</string>
	</dict>
	<dict>
		<key>KEY_LINK</key>
		<string>https://dl.dropboxusercontent.com/s/pzd2ve3hwom532v/KimChiChap1.zip?dl=1&amp;token_hash=AAHYNqRLy7vniLOJkvE0uGsDcOqwYJy_VHR6OgUwY2DXWg</string>
		<key>KEY_NAME</key>
		<string>Tập 1 : Kim Chi Củ Cải</string>
	</dict>
	<dict>
		<key>KEY_LINK</key>
		<string>https://dl.dropboxusercontent.com/s/pzd2ve3hwom532v/KimChiChap1.zip?dl=1&amp;token_hash=AAHYNqRLy7vniLOJkvE0uGsDcOqwYJy_VHR6OgUwY2DXWg</string>
		<key>KEY_NAME</key>
		<string>Tập 1 : Kim Chi Củ Cải</string>
	</dict>
</array>
</plist>
